.Header {}

.Header a:visited,
.Header a:link {
    color: inherit;
}

.logo {
    font-size: 30px;
    font-weight: 600;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.themeSwithcer {}

.Dropdown {
    @media (max-width: 610px) {
        max-width: 127px;
    }
}