.MainPage {
    text-align: center;
    margin-top: 160px;

    @media (max-width: 1360px) {
        margin-top: 140px;
    }

    @media (max-width: 1100px) {
        margin-top: 120px;
    }

    @media (max-width: 850px) {
        margin-top: 120px;
    }

    @media (max-width: 610px) {
        margin-top: 80px;
    }
}

.title {
    font-size: 64px;
    font-weight: 600;
    line-height: 150%;
    width: 60%;
    margin: 0 auto;

    @media (max-width: 1360px) {
        font-size: 60px;
    }

    @media (max-width: 1100px) {
        font-size: 50px;
    }

    @media (max-width: 850px) {
        font-size: 40px;
        width: 80%;
    }

    @media (max-width: 610px) {
        font-size: 30px;
    }
}

.Btn a:link,
.Btn a:visited {
    color: white;
}

.Btn {
    margin-top: 30px;
}