.MainPage {
    text-align: center;
    margin-top: 160px;
}

.title {
    font-size: 64px;
    font-weight: 600;
    line-height: 150%;
    width: 1200px;
    margin: 0 auto;
}

.Btn a:link,
.Btn a:visited {
    color: white;
}

.Btn {
    margin-top: 30px;
}